<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3d210cf143.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>HOME | ANIMACIONES</title>
</head>

<body>
    <header>
        <div class="logoybarra">
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="">
            </div>
            <form action="" class="barra_busqueda">
                <input type="text" placeholder="Buscar productos, marcas">
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
    
            </form>
        </div>
        
        <div class="compra">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de crédito
        </div>
        <nav class="header_menu">
            <ul class="ul1">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="ul2">
                <li><a href="/register">Creá tu cuenta<i class="fa-regular fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="">Mis compras <i class="fa-sharp fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>


    </header>
    <main>
        <div class="main_banner">
            <img src="/images/img-home-banner.jpg" alt="">
        </div>
        <h3>Basado en tu última visita</h3>
        <section class="ultimavisita">
            
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" style="max-width:100%;width:auto;height:auto" alt="">
                <div class="divcamion"><span class="camion"><i class="fa-solid fa-truck"></i></span></div>
                <div class="preciodescuento">
                    <h3 class="precio">$6.770</h3>
                    <h4 class="descuento">40% OFF</h4>
                </div>

                <div class="article_producto">
                    <h4 class="producto">Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" style="max-width:100%;width:auto;height:auto" alt="">
                <div class="divcamion"><span class="camion"><i class="fa-solid fa-truck"></i></span></div>
                <div class="preciodescuento">
                    <h3 class="precio">$230.000</h3>
                    <h4 class="descuento">20% OFF</h4>
                </div>

                <div>
                    <h4 class="producto">MacBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" style="max-width:100%;width:auto;height:auto" alt="">
                <div class="divcamion"><span class="camion"><i class="fa-solid fa-truck"></i></span></div>
                <div class="preciodescuento">
                    <h3 class="precio">$70.500</h3>
                    <h4 class="descuento">10% OFF</h4>
                </div>
                <div>
                    <h4 class="producto">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" style="max-width:100%;width:auto;height:auto" alt="">
                <div class="divcamion"><span class="camion"><i class="fa-solid fa-truck"></i></span></div>
                <div class="preciodescuento">
                    <h3 class="precio">$23.200</h3>
                    <h4 class="descuento">5% OFF</h4>
                </div>
                <div>
                    <h4 class="producto">SmartTv Samsung 43"</h4>
                </div>
            </article>

        </section>
        <h3>Ofertas</h3>
        <section class="ofertas">
            
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" style="max-width:100%;width:auto;height:auto" alt="">
                <div class="divcamion"><span class="camion"><i class="fa-solid fa-truck"></i></span></div>
                <div class="preciodescuento">
                    <h3 class="precio">$6.770</h3>
                    <h4 class="descuento">40% OFF</h4>
                </div>

                <div class="article_producto">
                    <h4 class="producto">Cafetera Moulinex</h4>
                </div>

            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" style="max-width:100%;width:auto;height:auto" alt="">
                <div class="divcamion"><span class="camion"><i class="fa-solid fa-truck"></i></span></div>
                <div class="preciodescuento">
                    <h3 class="precio">$230.000</h3>
                    <h4 class="descuento">20% OFF</h4>
                </div>

                <div>
                    <h4 class="producto">MacBook Pro 2019</h4>
                </div>

            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" style="max-width:100%;width:auto;height:auto" alt="">

                <div class="divcamion"><span class="camion"><i class="fa-solid fa-truck"></i></span></div>
                <div class="preciodescuento">
                    <h3 class="precio">$70.500</h3>
                    <h4 class="descuento">10% OFF</h4>
                </div>
                <div>
                    <h4 class="producto">Samsung Galaxy S10</h4>
                </div>

            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" style="max-width:100%;width:auto;height:auto" alt="">
                <div class="divcamion"><span class="camion"><i class="fa-solid fa-truck"></i></span></div>
                <div class="preciodescuento">
                    <h3 class="precio">$23.200</h3>
                    <h4 class="descuento">5% OFF</h4>
                </div>
                <div>
                    <h4 class="producto">SmartTv Samsung 43"</h4>
                </div>

            </article>

        </section>



    </main>
    <footer>
        <div>
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </div>
        <div>
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </div>
        <div>
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </div>
        <div>
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>

        </div>

    </footer>

</body>

</html>