* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


header {
    background-color: #EAC926;
    font-family: Roboto;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    list-style: none;
}

header div.logoybarra{
    display: flex;
}

div.logo{
    width: 50%;

}
.barra_busqueda{
   width: 50%;
display: flex;
align-items: center;
}

nav.header_menu{
    display: none;
    
}



header .burger-menu {
    font-size: 20px;
    width: 30px;
    height: 30px;
    background-color: #1259c3;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

header .lupa {
    background-color: gainsboro;
    border-color: 2px solid black;
    width: 20px;
    height: 20px;

}

main {
    width: 90%;
    margin: 0 auto;
    background-color: #ebe8e8;
}

main .main_banner img {
    width: 100%;
}

main .camion {
    color: green;
    border: solid 1px green;
    border-radius: 50%;
    padding: 19px;
}

main .divcamion {
    display: flex;
    justify-content: end;
}
article div.preciodescuento{
    display: flex;
}
article h3.precio{
    width: 30%;
}
article h4.descuento{
    width: 70%;
    color: rgb(115, 184, 13);
}

main section article {
    margin-bottom: 10px;
    background-color: white;
}
article{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}

section {
    border-top: 1px solid #ebebeb;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

footer div {
    text-align: center;
    font-family: roboto;
}

footer div i {
    font-size: 40px;
    color: blue;
}

header .compra {
    margin-top: 20px;
}

@media (min-width: 361px) {
    article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 49%;
    }

    nav.header_menu{
        display: block;
        display: flex;
    justify-content: space-between;
    }

    ul.ul1{
        display: flex;
    }
    ul.ul2{
        display: flex;
    }
    header .burger-menu {
        display: none;
    }
}

@media (min-width: 769px) {
    article{
        width: 24%;
    }
}